.activeItemCountInCart{
    position: absolute;
    right: 4px;
    top: 0;
    font-weight: 400;
    font-size: 10px;
}

.zaitoonAdd{
	position: relative !important;
	text-transform: uppercase;
}

#cartModal .modal-dialog{
	margin: 0 !important;
}

#cartModal .modal-content{
	border: 0 !important;
	height: 100vh !important;
}

#cartModal .modal-body{
	padding: 25px 10px 0 10px !important;
}

#cartModal #mobileCartArea #ScrollStyle{
	height: auto !important;
	max-height: 65vh !important;
}

#cartModal #mobileCartArea .mobileCheckoutBottomButton{
/*    width: 100%;
    box-shadow: none;
    border: none;
    background: #27ae60;
    color: #FFF;
    height: 50px;
    position: fixed;
    bottom: 0;
    font-size: 16px;
    font-weight: 400;
    border-radius: 0;
    left: 0;
    outline: none;*/
}


@-webkit-keyframes heartBeat {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  14% {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
  }

  28% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  42% {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
  }

  70% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes heartBeat {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  14% {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
  }

  28% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  42% {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
  }

  70% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
.animate__heartBeat {
  -webkit-animation-name: heartBeat;
  animation-name: heartBeat;
  -webkit-animation-duration: calc(1s * 1.3);
  animation-duration: calc(1s * 1.3);
  -webkit-animation-duration: calc(var(--animate-duration) * 1.3);
  animation-duration: calc(var(--animate-duration) * 1.3);
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
}


.checkOffers{
    position: absolute;
    left: 10px;
    background: #FF5722;
    border-radius: 3px;
    padding: 2px 6px;
    color: #FFF;
    cursor: pointer;
}